body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    max-width: 830px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;

}

input {
    padding: 20px 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border: solid #004485 1px;
}

button {
    padding:18px 10px;
    width: 183px;
    margin: 5px; 
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color .3s,color .3s, border .3s ;
}
.container-feild{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}
button:hover {
    background-color: white;
    border: solid #004485 1px;
    color: #004485;
}

#result {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #004485;
}
#numbersList {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #004485;
}

.highlight {
    font-weight: bold;
}
.number-item {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    color: #004485;
}

.highlight {
    background-color: yellow;
}
.error-message {
    color: #004485;
    font-weight: 500;
    font-size: 20px;
}
